beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
configparser==5.0.0
crayons==0.3.1
idna==2.10
numpy==1.19.0
pandas==1.0.5
pathlib==1.0.1
Pillow==7.2.0
pycryptodome==3.9.8
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
selenium==3.141.0
six==1.15.0
sortedcontainers==2.2.2
soupsieve==2.0.1
unicodecsv==0.14.1
urllib3==1.25.9
Wand==0.6.1
webdriver-manager==3.3.0


